2020-05-07 06:27:07.095169-04:00
===============
Quantum Package
===============

Git Commit: fixed bug in FOBOSCF
Git Date  : Fri Jun 28 00:16:47 2019 +0200
Git SHA1  : edd9add59ff4547c41a99f129d34b52efa79bcf4


Task server running : tcp://127.0.1.1:41279

.. >>>>> [ WALL TIME:        0.000000 s ] [ CPU  TIME:        0.001554 s ] <<<<< ..

 Read  mo_guess_type

.. >>>>> [ WALL TIME:        0.001000 s ] [ CPU  TIME:        0.001608 s ] <<<<< ..

 Read  do_direct_integrals

.. >>>>> [ WALL TIME:        0.001000 s ] [ CPU  TIME:        0.001643 s ] <<<<< ..

 Read  elec_beta_num

.. >>>>> [ WALL TIME:        0.001000 s ] [ CPU  TIME:        0.001669 s ] <<<<< ..

 Read  ao_num

.. >>>>> [ WALL TIME:        0.001000 s ] [ CPU  TIME:        0.001693 s ] <<<<< ..

 Read  ao_cartesian

.. >>>>> [ WALL TIME:        0.004000 s ] [ CPU  TIME:        0.010303 s ] <<<<< ..

 Read  ao_power

.. >>>>> [ WALL TIME:        0.005000 s ] [ CPU  TIME:        0.020280 s ] <<<<< ..

 Read  ao_prim_num

.. >>>>> [ WALL TIME:        0.007000 s ] [ CPU  TIME:        0.033790 s ] <<<<< ..

 Read  ao_expo

.. >>>>> [ WALL TIME:        0.009000 s ] [ CPU  TIME:        0.047368 s ] <<<<< ..

 Read  ao_coef

.. >>>>> [ WALL TIME:        0.011000 s ] [ CPU  TIME:        0.060911 s ] <<<<< ..

 Read  ao_nucl

.. >>>>> [ WALL TIME:        0.011000 s ] [ CPU  TIME:        0.060964 s ] <<<<< ..

 Read  nucl_num

.. >>>>> [ WALL TIME:        0.013000 s ] [ CPU  TIME:        0.072303 s ] <<<<< ..

 Read  nucl_label

.. >>>>> [ WALL TIME:        0.015000 s ] [ CPU  TIME:        0.074383 s ] <<<<< ..

 Read  nucl_charge
 0.11 %  in             81.1925ms, ~            1.22195m left
                                                                           
.. >>>>> [ WALL TIME:        0.016000 s ] [ CPU  TIME:        0.092570 s ] <<<<< ..


Nuclear Coordinates (Angstroms)
===============================

================ ============ ============ ============ ============
      Atom          Charge          X            Y            Z 
================ ============ ============ ============ ============
Si                   4.000000     0.000000     0.000000     0.000000
H                    1.000000     0.000000     0.000000     1.485320
H                    1.000000    -1.253519     0.000000    -0.796785
================ ============ ============ ============ ============

* mo_tot_num                                                    40

.. >>>>> [ WALL TIME:        0.018000 s ] [ CPU  TIME:        0.097696 s ] <<<<< ..

 Read  elec_alpha_num

.. >>>>> [ WALL TIME:        0.018000 s ] [ CPU  TIME:        0.097735 s ] <<<<< ..

 Read  disk_access_ao_integrals
 AO map initialized :                408156

.. >>>>> [ WALL TIME:        0.018000 s ] [ CPU  TIME:        0.097770 s ] <<<<< ..

 Read  disk_access_mo_integrals

.. >>>>> [ WALL TIME:        0.019000 s ] [ CPU  TIME:        0.097796 s ] <<<<< ..

 Read  ao_integrals_threshold
 Providing the AO integrals
 Sorting the map
 AO integrals provided:
  Size of AO map :            2.0679645538330078      MB
  Number of AO integrals :               170969
  cpu  time :   5.6398600000000005      s
  wall time :  0.81699999999909778      s  ( x    6.9031334149403047       )

.. >>>>> [ WALL TIME:        0.854000 s ] [ CPU  TIME:        5.767780 s ] <<<<< ..

 Read  disk_access_mo_one_integrals

.. >>>>> [ WALL TIME:        0.854000 s ] [ CPU  TIME:        5.767805 s ] <<<<< ..

 Read  disk_access_ao_one_integrals

.. >>>>> [ WALL TIME:        0.854000 s ] [ CPU  TIME:        5.767838 s ] <<<<< ..

 Read  do_pseudo

.. >>>>> [ WALL TIME:        0.854000 s ] [ CPU  TIME:        5.767858 s ] <<<<< ..

 Read  pseudo_kmax

.. >>>>> [ WALL TIME:        0.854000 s ] [ CPU  TIME:        5.767879 s ] <<<<< ..

 Read  pseudo_klocmax

.. >>>>> [ WALL TIME:        0.856000 s ] [ CPU  TIME:        5.778902 s ] <<<<< ..

 Read  pseudo_n_k

.. >>>>> [ WALL TIME:        0.858000 s ] [ CPU  TIME:        5.790133 s ] <<<<< ..

 Read  pseudo_dz_k

.. >>>>> [ WALL TIME:        0.860000 s ] [ CPU  TIME:        5.801440 s ] <<<<< ..

 Read  pseudo_v_k
 Providing the nuclear electron pseudo integrals (local)

.. >>>>> [ WALL TIME:        0.977000 s ] [ CPU  TIME:        6.171285 s ] <<<<< ..

 Read  pseudo_lmax

.. >>>>> [ WALL TIME:        0.979000 s ] [ CPU  TIME:        6.183541 s ] <<<<< ..

 Read  pseudo_v_kl

.. >>>>> [ WALL TIME:        0.981000 s ] [ CPU  TIME:        6.194495 s ] <<<<< ..

 Read  pseudo_n_kl

.. >>>>> [ WALL TIME:        0.982000 s ] [ CPU  TIME:        6.205731 s ] <<<<< ..

 Read  pseudo_dz_kl
 Providing the nuclear electron pseudo integrals (non-local)

.. >>>>> [ WALL TIME:        4.792000 s ] [ CPU  TIME:       14.245741 s ] <<<<< ..

 Read  level_shift

.. >>>>> [ WALL TIME:        4.795000 s ] [ CPU  TIME:       14.260642 s ] <<<<< ..

 Read  no_oa_or_av_opt
 Read mo_occ

.. >>>>> [ WALL TIME:        4.796000 s ] [ CPU  TIME:       14.261469 s ] <<<<< ..

 Read  ao_md5
 * mo_label          no_label

.. >>>>> [ WALL TIME:        4.806000 s ] [ CPU  TIME:       14.288385 s ] <<<<< ..

 Read  disk_access_nuclear_repulsion

.. >>>>> [ WALL TIME:        4.806000 s ] [ CPU  TIME:       14.288396 s ] <<<<< ..

* Nuclear repulsion energy                           3.053411490237975    

.. >>>>> [ WALL TIME:        4.825000 s ] [ CPU  TIME:       14.325741 s ] <<<<< ..

 Read  max_dim_diis

.. >>>>> [ WALL TIME:        4.826000 s ] [ CPU  TIME:       14.327288 s ] <<<<< ..

 Read  n_it_scf_max

.. >>>>> [ WALL TIME:        4.826000 s ] [ CPU  TIME:       14.327309 s ] <<<<< ..

 Read  scf_algorithm

.. >>>>> [ WALL TIME:        4.827000 s ] [ CPU  TIME:       14.329567 s ] <<<<< ..

 Read  thresh_scf

.. >>>>> [ WALL TIME:        4.827000 s ] [ CPU  TIME:       14.329588 s ] <<<<< ..

 Read  threshold_diis

.. >>>>> [ WALL TIME:        4.827000 s ] [ CPU  TIME:       14.329600 s ] <<<<< ..

==== ================ ================ ================
  N          Energy      Energy diff       DIIS error  
==== ================ ================ ================
   1    -4.6472085551    -0.3141958086     0.0784653228   1
   2    -4.6819629171    -0.0347543620     0.0349700016   2
   3    -4.6892680766    -0.0073051595     0.0109504247   3
   4    -4.6900051408    -0.0007370643     0.0040488922   4
   5    -4.6900807123    -0.0000755715     0.0018246105   5
   6    -4.6900908679    -0.0000101556     0.0006568410   6
   7    -4.6900919294    -0.0000010615     0.0002294780   7
   8    -4.6900920592    -0.0000001298     0.0000746699   8
   9    -4.6900920731    -0.0000000139     0.0000238103   9
  10    -4.6900920746    -0.0000000015     0.0000075976  10
  11    -4.6900920748    -0.0000000002     0.0000023485  11
  12    -4.6900920748    -0.0000000000     0.0000014457   0
==== ================ ================ ================


.. >>>>> [ WALL TIME:        5.254000 s ] [ CPU  TIME:       15.361693 s ] <<<<< ..

MOs are now **Canonical**

Eigenvalues
-----------

======== ================
       1    -0.6854854008
       2    -0.5109263041
       3    -0.2400785526
       4    -0.0686875282
       5     0.0687628721
       6     0.1012855102
       7     0.1465677643
       8     0.1557293048
       9     0.2200263170
      10     0.2238911186
      11     0.2315043542
      12     0.2536691811
      13     0.3208439771
      14     0.3586127795
      15     0.4001072509
      16     0.4197301340
      17     0.4721635239
      18     0.5182586749
      19     0.5349080662
      20     0.5497854912
      21     0.5597134115
      22     0.6618845169
      23     0.7143657581
      24     0.7362864361
      25     0.7548619670
      26     0.7659671929
      27     0.8976633455
      28     0.9524598901
      29     0.9682768217
      30     1.0329711671
      31     1.1476662006
      32     1.2944902031
      33     1.7187661215
      34     1.9502790125
      35     1.9780898214
      36     2.0413299851
      37     2.0661120376
      38     2.1529193778
      39     2.3354677248
      40     7.9081867048
======== ================


.. >>>>> [ WALL TIME:        5.254000 s ] [ CPU  TIME:       15.362376 s ] <<<<< ..

* Hartree-Fock energy                               -4.690092074811092    

.. >>>>> [ WALL TIME:        5.254000 s ] [ CPU  TIME:       15.362436 s ] <<<<< ..

Wall time : 6.29237s

