2020-05-10 17:44:38.024469-04:00
===============
Quantum Package
===============

Git Commit: fixed bug in FOBOSCF
Git Date  : Fri Jun 28 00:16:47 2019 +0200
Git SHA1  : edd9add59ff4547c41a99f129d34b52efa79bcf4


Task server running : tcp://127.0.1.1:41279

.. >>>>> [ WALL TIME:        0.000000 s ] [ CPU  TIME:        0.001322 s ] <<<<< ..

 Read  mo_guess_type

.. >>>>> [ WALL TIME:        0.000000 s ] [ CPU  TIME:        0.001370 s ] <<<<< ..

 Read  do_direct_integrals

.. >>>>> [ WALL TIME:        0.000000 s ] [ CPU  TIME:        0.001402 s ] <<<<< ..

 Read  elec_beta_num

.. >>>>> [ WALL TIME:        0.000000 s ] [ CPU  TIME:        0.001427 s ] <<<<< ..

 Read  ao_num

.. >>>>> [ WALL TIME:        0.000000 s ] [ CPU  TIME:        0.001449 s ] <<<<< ..

 Read  ao_cartesian

.. >>>>> [ WALL TIME:        0.003000 s ] [ CPU  TIME:        0.007949 s ] <<<<< ..

 Read  ao_power

.. >>>>> [ WALL TIME:        0.005000 s ] [ CPU  TIME:        0.019153 s ] <<<<< ..

 Read  ao_prim_num

.. >>>>> [ WALL TIME:        0.007000 s ] [ CPU  TIME:        0.030587 s ] <<<<< ..

 Read  ao_expo

.. >>>>> [ WALL TIME:        0.009000 s ] [ CPU  TIME:        0.044480 s ] <<<<< ..

 Read  ao_coef

.. >>>>> [ WALL TIME:        0.011000 s ] [ CPU  TIME:        0.057167 s ] <<<<< ..

 Read  ao_nucl

.. >>>>> [ WALL TIME:        0.011000 s ] [ CPU  TIME:        0.057214 s ] <<<<< ..

 Read  nucl_num

.. >>>>> [ WALL TIME:        0.013000 s ] [ CPU  TIME:        0.067916 s ] <<<<< ..

 Read  nucl_label

.. >>>>> [ WALL TIME:        0.015000 s ] [ CPU  TIME:        0.069821 s ] <<<<< ..

 Read  nucl_charge
 0.11 %  in             81.6374ms, ~            1.22864m left
                                                                           
.. >>>>> [ WALL TIME:        0.016000 s ] [ CPU  TIME:        0.083908 s ] <<<<< ..


Nuclear Coordinates (Angstroms)
===============================

================ ============ ============ ============ ============
      Atom          Charge          X            Y            Z 
================ ============ ============ ============ ============
Si                   4.000000     0.000000     0.000000     0.000000
H                    1.000000     0.000000     0.000000     1.514020
H                    1.000000    -1.513113     0.000000    -0.052390
================ ============ ============ ============ ============

* mo_tot_num                                                    40

.. >>>>> [ WALL TIME:        0.019000 s ] [ CPU  TIME:        0.086331 s ] <<<<< ..

 Read  elec_alpha_num

.. >>>>> [ WALL TIME:        0.019000 s ] [ CPU  TIME:        0.086372 s ] <<<<< ..

 Read  disk_access_ao_integrals
 AO map initialized :                408156

.. >>>>> [ WALL TIME:        0.019000 s ] [ CPU  TIME:        0.086407 s ] <<<<< ..

 Read  disk_access_mo_integrals

.. >>>>> [ WALL TIME:        0.019000 s ] [ CPU  TIME:        0.086433 s ] <<<<< ..

 Read  ao_integrals_threshold
 Providing the AO integrals
 Sorting the map
 AO integrals provided:
  Size of AO map :            2.0679645538330078      MB
  Number of AO integrals :               170969
  cpu  time :   5.6833589999999994      s
  wall time :  0.81400000000030559      s  ( x    6.9820135135108918       )

.. >>>>> [ WALL TIME:        0.853000 s ] [ CPU  TIME:        5.809901 s ] <<<<< ..

 Read  disk_access_mo_one_integrals

.. >>>>> [ WALL TIME:        0.853000 s ] [ CPU  TIME:        5.809924 s ] <<<<< ..

 Read  disk_access_ao_one_integrals

.. >>>>> [ WALL TIME:        0.853000 s ] [ CPU  TIME:        5.809956 s ] <<<<< ..

 Read  do_pseudo

.. >>>>> [ WALL TIME:        0.853000 s ] [ CPU  TIME:        5.809977 s ] <<<<< ..

 Read  pseudo_kmax

.. >>>>> [ WALL TIME:        0.853000 s ] [ CPU  TIME:        5.809998 s ] <<<<< ..

 Read  pseudo_klocmax

.. >>>>> [ WALL TIME:        0.855000 s ] [ CPU  TIME:        5.820864 s ] <<<<< ..

 Read  pseudo_n_k

.. >>>>> [ WALL TIME:        0.857000 s ] [ CPU  TIME:        5.832042 s ] <<<<< ..

 Read  pseudo_dz_k

.. >>>>> [ WALL TIME:        0.859000 s ] [ CPU  TIME:        5.843214 s ] <<<<< ..

 Read  pseudo_v_k
 Providing the nuclear electron pseudo integrals (local)

.. >>>>> [ WALL TIME:        0.973000 s ] [ CPU  TIME:        6.211746 s ] <<<<< ..

 Read  pseudo_lmax

.. >>>>> [ WALL TIME:        0.974000 s ] [ CPU  TIME:        6.222807 s ] <<<<< ..

 Read  pseudo_v_kl

.. >>>>> [ WALL TIME:        0.976000 s ] [ CPU  TIME:        6.234149 s ] <<<<< ..

 Read  pseudo_n_kl

.. >>>>> [ WALL TIME:        0.978000 s ] [ CPU  TIME:        6.245436 s ] <<<<< ..

 Read  pseudo_dz_kl
 Providing the nuclear electron pseudo integrals (non-local)

.. >>>>> [ WALL TIME:        4.694000 s ] [ CPU  TIME:       14.193599 s ] <<<<< ..

 Read  level_shift

.. >>>>> [ WALL TIME:        4.694000 s ] [ CPU  TIME:       14.193779 s ] <<<<< ..

 Read  no_oa_or_av_opt
 Read mo_occ

.. >>>>> [ WALL TIME:        4.695000 s ] [ CPU  TIME:       14.211594 s ] <<<<< ..

 Read  ao_md5
 * mo_label          no_label

.. >>>>> [ WALL TIME:        4.706000 s ] [ CPU  TIME:       14.232922 s ] <<<<< ..

 Read  disk_access_nuclear_repulsion

.. >>>>> [ WALL TIME:        4.706000 s ] [ CPU  TIME:       14.232934 s ] <<<<< ..

* Nuclear repulsion energy                           3.039122495668299    

.. >>>>> [ WALL TIME:        4.725000 s ] [ CPU  TIME:       14.274975 s ] <<<<< ..

 Read  max_dim_diis

.. >>>>> [ WALL TIME:        4.726000 s ] [ CPU  TIME:       14.275720 s ] <<<<< ..

 Read  n_it_scf_max

.. >>>>> [ WALL TIME:        4.726000 s ] [ CPU  TIME:       14.275742 s ] <<<<< ..

 Read  scf_algorithm

.. >>>>> [ WALL TIME:        4.726000 s ] [ CPU  TIME:       14.276315 s ] <<<<< ..

 Read  thresh_scf

.. >>>>> [ WALL TIME:        4.726000 s ] [ CPU  TIME:       14.276338 s ] <<<<< ..

 Read  threshold_diis

.. >>>>> [ WALL TIME:        4.726000 s ] [ CPU  TIME:       14.276351 s ] <<<<< ..

==== ================ ================ ================
  N          Energy      Energy diff       DIIS error  
==== ================ ================ ================
   1    -4.8024553893    -0.4050593641     0.0857268141   1
   2    -4.8359447230    -0.0334893337     0.0365863212   2
   3    -4.8443362844    -0.0083915614     0.0150519675   3
   4    -4.8454656562    -0.0011293718     0.0046190606   4
   5    -4.8455705556    -0.0001048994     0.0016511090   5
   6    -4.8455811550    -0.0000105994     0.0006981294   6
   7    -4.8455824575    -0.0000013025     0.0002594134   7
   8    -4.8455826006    -0.0000001432     0.0000938071   8
   9    -4.8455826170    -0.0000000164     0.0000330943   9
  10    -4.8455826189    -0.0000000019     0.0000114649  10
  11    -4.8455826191    -0.0000000002     0.0000039066  11
  12    -4.8455826192    -0.0000000000     0.0000022131   0
==== ================ ================ ================


.. >>>>> [ WALL TIME:        5.141000 s ] [ CPU  TIME:       15.285110 s ] <<<<< ..

MOs are now **Canonical**

Eigenvalues
-----------

======== ================
       1    -0.6805606252
       2    -0.4589681139
       3    -0.3377361890
       4     0.0047930806
       5     0.0729853457
       6     0.1079319483
       7     0.1476332369
       8     0.1954103042
       9     0.2301963202
      10     0.2309877570
      11     0.2332736160
      12     0.2393806699
      13     0.3211704781
      14     0.3732811550
      15     0.3921591316
      16     0.4676768294
      17     0.5076384520
      18     0.5212312470
      19     0.5376706656
      20     0.5458164593
      21     0.6052621370
      22     0.6667943582
      23     0.7270505327
      24     0.7422297446
      25     0.7514784055
      26     0.7928386080
      27     0.9274351838
      28     0.9331992406
      29     0.9696454629
      30     1.0712281330
      31     1.1457269555
      32     1.3335923378
      33     1.5565375874
      34     1.9412471721
      35     2.0151577688
      36     2.0581398694
      37     2.1247311296
      38     2.2769763578
      39     2.3107564110
      40     7.8625641968
======== ================


.. >>>>> [ WALL TIME:        5.141000 s ] [ CPU  TIME:       15.285615 s ] <<<<< ..

* Hartree-Fock energy                               -4.845582619162847    

.. >>>>> [ WALL TIME:        5.141000 s ] [ CPU  TIME:       15.285670 s ] <<<<< ..

Wall time : 6.17868s

