2020-05-04 19:42:21.423209-04:00
===============
Quantum Package
===============

Git Commit: fixed bug in FOBOSCF
Git Date  : Fri Jun 28 00:16:47 2019 +0200
Git SHA1  : edd9add59ff4547c41a99f129d34b52efa79bcf4


Task server running : tcp://127.0.1.1:41279

.. >>>>> [ WALL TIME:        0.000000 s ] [ CPU  TIME:        0.001457 s ] <<<<< ..

 Read  mo_guess_type

.. >>>>> [ WALL TIME:        0.000000 s ] [ CPU  TIME:        0.001506 s ] <<<<< ..

 Read  do_direct_integrals

.. >>>>> [ WALL TIME:        0.000000 s ] [ CPU  TIME:        0.001539 s ] <<<<< ..

 Read  elec_beta_num

.. >>>>> [ WALL TIME:        0.000000 s ] [ CPU  TIME:        0.001563 s ] <<<<< ..

 Read  ao_num

.. >>>>> [ WALL TIME:        0.000000 s ] [ CPU  TIME:        0.001584 s ] <<<<< ..

 Read  ao_cartesian

.. >>>>> [ WALL TIME:        0.003000 s ] [ CPU  TIME:        0.008581 s ] <<<<< ..

 Read  ao_power

.. >>>>> [ WALL TIME:        0.004000 s ] [ CPU  TIME:        0.018878 s ] <<<<< ..

 Read  ao_prim_num

.. >>>>> [ WALL TIME:        0.006000 s ] [ CPU  TIME:        0.031225 s ] <<<<< ..

 Read  ao_expo

.. >>>>> [ WALL TIME:        0.008000 s ] [ CPU  TIME:        0.045470 s ] <<<<< ..

 Read  ao_coef

.. >>>>> [ WALL TIME:        0.010000 s ] [ CPU  TIME:        0.059889 s ] <<<<< ..

 Read  ao_nucl

.. >>>>> [ WALL TIME:        0.010000 s ] [ CPU  TIME:        0.059937 s ] <<<<< ..

 Read  nucl_num

.. >>>>> [ WALL TIME:        0.012000 s ] [ CPU  TIME:        0.069713 s ] <<<<< ..

 Read  nucl_label

.. >>>>> [ WALL TIME:        0.013000 s ] [ CPU  TIME:        0.071520 s ] <<<<< ..

 Read  nucl_charge
 0.11 %  in             82.4587ms, ~              1.241m left
                                                                           
.. >>>>> [ WALL TIME:        0.015000 s ] [ CPU  TIME:        0.075742 s ] <<<<< ..


Nuclear Coordinates (Angstroms)
===============================

================ ============ ============ ============ ============
      Atom          Charge          X            Y            Z 
================ ============ ============ ============ ============
Si                   4.000000     0.000000     0.000000     0.000000
H                    1.000000     0.000000     0.000000     1.476800
H                    1.000000    -1.300289     0.000000    -0.700133
================ ============ ============ ============ ============

* mo_tot_num                                                    40

.. >>>>> [ WALL TIME:        0.017000 s ] [ CPU  TIME:        0.098609 s ] <<<<< ..

 Read  elec_alpha_num

.. >>>>> [ WALL TIME:        0.017000 s ] [ CPU  TIME:        0.098651 s ] <<<<< ..

 Read  disk_access_ao_integrals
 AO map initialized :                408156

.. >>>>> [ WALL TIME:        0.017000 s ] [ CPU  TIME:        0.098686 s ] <<<<< ..

 Read  disk_access_mo_integrals

.. >>>>> [ WALL TIME:        0.018000 s ] [ CPU  TIME:        0.098712 s ] <<<<< ..

 Read  ao_integrals_threshold
 Providing the AO integrals
 Sorting the map
 AO integrals provided:
  Size of AO map :            2.0679645538330078      MB
  Number of AO integrals :               170969
  cpu  time :   5.6640899999999998      s
  wall time :  0.82600000000002183      s  ( x    6.8572518159804483       )

.. >>>>> [ WALL TIME:        0.873000 s ] [ CPU  TIME:        5.811912 s ] <<<<< ..

 Read  disk_access_mo_one_integrals

.. >>>>> [ WALL TIME:        0.873000 s ] [ CPU  TIME:        5.811943 s ] <<<<< ..

 Read  disk_access_ao_one_integrals

.. >>>>> [ WALL TIME:        0.873000 s ] [ CPU  TIME:        5.811976 s ] <<<<< ..

 Read  do_pseudo

.. >>>>> [ WALL TIME:        0.873000 s ] [ CPU  TIME:        5.811998 s ] <<<<< ..

 Read  pseudo_kmax

.. >>>>> [ WALL TIME:        0.873000 s ] [ CPU  TIME:        5.812020 s ] <<<<< ..

 Read  pseudo_klocmax

.. >>>>> [ WALL TIME:        0.876000 s ] [ CPU  TIME:        5.822901 s ] <<<<< ..

 Read  pseudo_n_k

.. >>>>> [ WALL TIME:        0.878000 s ] [ CPU  TIME:        5.833713 s ] <<<<< ..

 Read  pseudo_dz_k

.. >>>>> [ WALL TIME:        0.880000 s ] [ CPU  TIME:        5.844959 s ] <<<<< ..

 Read  pseudo_v_k
 Providing the nuclear electron pseudo integrals (local)

.. >>>>> [ WALL TIME:        0.996000 s ] [ CPU  TIME:        6.217948 s ] <<<<< ..

 Read  pseudo_lmax

.. >>>>> [ WALL TIME:        0.998000 s ] [ CPU  TIME:        6.229428 s ] <<<<< ..

 Read  pseudo_v_kl

.. >>>>> [ WALL TIME:        0.999000 s ] [ CPU  TIME:        6.240656 s ] <<<<< ..

 Read  pseudo_n_kl

.. >>>>> [ WALL TIME:        1.001000 s ] [ CPU  TIME:        6.251885 s ] <<<<< ..

 Read  pseudo_dz_kl
 Providing the nuclear electron pseudo integrals (non-local)
   9.52380943     % in    1.7680000000000291      s
   14.2857141     % in    3.7739999999994325      s

.. >>>>> [ WALL TIME:        4.780000 s ] [ CPU  TIME:       14.324786 s ] <<<<< ..

 Read  level_shift

.. >>>>> [ WALL TIME:        4.781000 s ] [ CPU  TIME:       14.325106 s ] <<<<< ..

 Read  no_oa_or_av_opt
 Read mo_occ

.. >>>>> [ WALL TIME:        4.782000 s ] [ CPU  TIME:       14.343231 s ] <<<<< ..

 Read  ao_md5
 * mo_label          no_label

.. >>>>> [ WALL TIME:        4.794000 s ] [ CPU  TIME:       14.379681 s ] <<<<< ..

 Read  disk_access_nuclear_repulsion

.. >>>>> [ WALL TIME:        4.794000 s ] [ CPU  TIME:       14.379694 s ] <<<<< ..

* Nuclear repulsion energy                           3.075306169103021    

.. >>>>> [ WALL TIME:        4.814000 s ] [ CPU  TIME:       14.415295 s ] <<<<< ..

 Read  max_dim_diis

.. >>>>> [ WALL TIME:        4.815000 s ] [ CPU  TIME:       14.416174 s ] <<<<< ..

 Read  n_it_scf_max

.. >>>>> [ WALL TIME:        4.815000 s ] [ CPU  TIME:       14.416195 s ] <<<<< ..

 Read  scf_algorithm

.. >>>>> [ WALL TIME:        4.815000 s ] [ CPU  TIME:       14.428059 s ] <<<<< ..

 Read  thresh_scf

.. >>>>> [ WALL TIME:        4.815000 s ] [ CPU  TIME:       14.428089 s ] <<<<< ..

 Read  threshold_diis

.. >>>>> [ WALL TIME:        4.815000 s ] [ CPU  TIME:       14.428101 s ] <<<<< ..

==== ================ ================ ================
  N          Energy      Energy diff       DIIS error  
==== ================ ================ ================
   1    -4.7895678591    -0.3434210038     0.0897884669   1
   2    -4.8292485074    -0.0396806482     0.0413172954   2
   3    -4.8374740475    -0.0082255402     0.0148482644   3
   4    -4.8382249911    -0.0007509436     0.0040930090   4
   5    -4.8382718902    -0.0000468990     0.0012586109   5
   6    -4.8382766164    -0.0000047262     0.0002824154   6
   7    -4.8382768828    -0.0000002664     0.0000705069   7
   8    -4.8382768976    -0.0000000149     0.0000157353   8
   9    -4.8382768990    -0.0000000013     0.0000043273   9
  10    -4.8382768991    -0.0000000001     0.0000013418  10
  11    -4.8382768991    -0.0000000000     0.0000007979   0
==== ================ ================ ================


.. >>>>> [ WALL TIME:        5.194000 s ] [ CPU  TIME:       15.338525 s ] <<<<< ..

MOs are now **Canonical**

Eigenvalues
-----------

======== ================
       1    -0.7553550667
       2    -0.5345686055
       3    -0.1790540183
       4    -0.1031612445
       5     0.0758548899
       6     0.1059730969
       7     0.1887795992
       8     0.2069650852
       9     0.2645370975
      10     0.2711392754
      11     0.2840735538
      12     0.3033814395
      13     0.3535674056
      14     0.3866832745
      15     0.4398544661
      16     0.4456592933
      17     0.4975407993
      18     0.5335708325
      19     0.5548181370
      20     0.5941781193
      21     0.6032165934
      22     0.7144291960
      23     0.7299511571
      24     0.8138740577
      25     0.8276541801
      26     0.8457553564
      27     0.9841409312
      28     1.0045069367
      29     1.0082765432
      30     1.0781467724
      31     1.2081328195
      32     1.3297260969
      33     1.7311667094
      34     1.9795950228
      35     2.0188435067
      36     2.0711009479
      37     2.1268445889
      38     2.1960288164
      39     2.3764883021
      40     7.9849032640
======== ================


.. >>>>> [ WALL TIME:        5.195000 s ] [ CPU  TIME:       15.349502 s ] <<<<< ..

* Hartree-Fock energy                               -4.838276899096217    

.. >>>>> [ WALL TIME:        5.195000 s ] [ CPU  TIME:       15.349556 s ] <<<<< ..

Wall time : 6.23377s

