2020-05-08 02:59:36.959740-04:00
===============
Quantum Package
===============

Git Commit: fixed bug in FOBOSCF
Git Date  : Fri Jun 28 00:16:47 2019 +0200
Git SHA1  : edd9add59ff4547c41a99f129d34b52efa79bcf4


Task server running : tcp://127.0.1.1:41279

.. >>>>> [ WALL TIME:        0.000000 s ] [ CPU  TIME:        0.001733 s ] <<<<< ..

 Read  mo_guess_type

.. >>>>> [ WALL TIME:        0.000000 s ] [ CPU  TIME:        0.001791 s ] <<<<< ..

 Read  do_direct_integrals

.. >>>>> [ WALL TIME:        0.000000 s ] [ CPU  TIME:        0.001830 s ] <<<<< ..

 Read  elec_beta_num

.. >>>>> [ WALL TIME:        0.000000 s ] [ CPU  TIME:        0.001860 s ] <<<<< ..

 Read  ao_num

.. >>>>> [ WALL TIME:        0.000000 s ] [ CPU  TIME:        0.001886 s ] <<<<< ..

 Read  ao_cartesian

.. >>>>> [ WALL TIME:        0.004000 s ] [ CPU  TIME:        0.010096 s ] <<<<< ..

 Read  ao_power

.. >>>>> [ WALL TIME:        0.006000 s ] [ CPU  TIME:        0.021379 s ] <<<<< ..

 Read  ao_prim_num

.. >>>>> [ WALL TIME:        0.008000 s ] [ CPU  TIME:        0.036640 s ] <<<<< ..

 Read  ao_expo

.. >>>>> [ WALL TIME:        0.011000 s ] [ CPU  TIME:        0.049806 s ] <<<<< ..

 Read  ao_coef

.. >>>>> [ WALL TIME:        0.013000 s ] [ CPU  TIME:        0.061653 s ] <<<<< ..

 Read  ao_nucl

.. >>>>> [ WALL TIME:        0.013000 s ] [ CPU  TIME:        0.061702 s ] <<<<< ..

 Read  nucl_num

.. >>>>> [ WALL TIME:        0.014000 s ] [ CPU  TIME:        0.071160 s ] <<<<< ..

 Read  nucl_label

.. >>>>> [ WALL TIME:        0.016000 s ] [ CPU  TIME:        0.082737 s ] <<<<< ..

 Read  nucl_charge
 0.11 %  in             80.7152ms, ~            1.21476m left
                                                                           
.. >>>>> [ WALL TIME:        0.017000 s ] [ CPU  TIME:        0.084704 s ] <<<<< ..


Nuclear Coordinates (Angstroms)
===============================

================ ============ ============ ============ ============
      Atom          Charge          X            Y            Z 
================ ============ ============ ============ ============
Si                   4.000000     0.000000     0.000000     0.000000
H                    1.000000     0.000000     0.000000     1.514020
H                    1.000000    -1.513113     0.000000    -0.052390
================ ============ ============ ============ ============

* mo_tot_num                                                    40

.. >>>>> [ WALL TIME:        0.020000 s ] [ CPU  TIME:        0.112924 s ] <<<<< ..

 Read  elec_alpha_num

.. >>>>> [ WALL TIME:        0.020000 s ] [ CPU  TIME:        0.112968 s ] <<<<< ..

 Read  disk_access_ao_integrals
 AO map initialized :                408156

.. >>>>> [ WALL TIME:        0.020000 s ] [ CPU  TIME:        0.113004 s ] <<<<< ..

 Read  disk_access_mo_integrals

.. >>>>> [ WALL TIME:        0.020000 s ] [ CPU  TIME:        0.113029 s ] <<<<< ..

 Read  ao_integrals_threshold
 Providing the AO integrals
 Sorting the map
 AO integrals provided:
  Size of AO map :            2.0679645538330078      MB
  Number of AO integrals :               170969
  cpu  time :   5.6750880000000006      s
  wall time :  0.81799999999930151      s  ( x    6.9377603912039687       )

.. >>>>> [ WALL TIME:        0.858000 s ] [ CPU  TIME:        5.825448 s ] <<<<< ..

 Read  disk_access_mo_one_integrals

.. >>>>> [ WALL TIME:        0.858000 s ] [ CPU  TIME:        5.825472 s ] <<<<< ..

 Read  disk_access_ao_one_integrals

.. >>>>> [ WALL TIME:        0.858000 s ] [ CPU  TIME:        5.825507 s ] <<<<< ..

 Read  do_pseudo

.. >>>>> [ WALL TIME:        0.858000 s ] [ CPU  TIME:        5.825528 s ] <<<<< ..

 Read  pseudo_kmax

.. >>>>> [ WALL TIME:        0.858000 s ] [ CPU  TIME:        5.825551 s ] <<<<< ..

 Read  pseudo_klocmax

.. >>>>> [ WALL TIME:        0.860000 s ] [ CPU  TIME:        5.836558 s ] <<<<< ..

 Read  pseudo_n_k

.. >>>>> [ WALL TIME:        0.862000 s ] [ CPU  TIME:        5.847760 s ] <<<<< ..

 Read  pseudo_dz_k

.. >>>>> [ WALL TIME:        0.863000 s ] [ CPU  TIME:        5.858929 s ] <<<<< ..

 Read  pseudo_v_k
 Providing the nuclear electron pseudo integrals (local)

.. >>>>> [ WALL TIME:        0.977000 s ] [ CPU  TIME:        6.225888 s ] <<<<< ..

 Read  pseudo_lmax

.. >>>>> [ WALL TIME:        0.979000 s ] [ CPU  TIME:        6.238762 s ] <<<<< ..

 Read  pseudo_v_kl

.. >>>>> [ WALL TIME:        0.981000 s ] [ CPU  TIME:        6.249854 s ] <<<<< ..

 Read  pseudo_n_kl

.. >>>>> [ WALL TIME:        0.983000 s ] [ CPU  TIME:        6.261056 s ] <<<<< ..

 Read  pseudo_dz_kl
 Providing the nuclear electron pseudo integrals (non-local)

.. >>>>> [ WALL TIME:        4.709000 s ] [ CPU  TIME:       14.215933 s ] <<<<< ..

 Read  level_shift

.. >>>>> [ WALL TIME:        4.709000 s ] [ CPU  TIME:       14.216255 s ] <<<<< ..

 Read  no_oa_or_av_opt
 Read mo_occ

.. >>>>> [ WALL TIME:        4.711000 s ] [ CPU  TIME:       14.237061 s ] <<<<< ..

 Read  ao_md5
 * mo_label          no_label

.. >>>>> [ WALL TIME:        4.719000 s ] [ CPU  TIME:       14.254803 s ] <<<<< ..

 Read  disk_access_nuclear_repulsion

.. >>>>> [ WALL TIME:        4.719000 s ] [ CPU  TIME:       14.254815 s ] <<<<< ..

* Nuclear repulsion energy                           3.039122495668299    

.. >>>>> [ WALL TIME:        4.739000 s ] [ CPU  TIME:       14.297804 s ] <<<<< ..

 Read  max_dim_diis

.. >>>>> [ WALL TIME:        4.740000 s ] [ CPU  TIME:       14.303714 s ] <<<<< ..

 Read  n_it_scf_max

.. >>>>> [ WALL TIME:        4.740000 s ] [ CPU  TIME:       14.303735 s ] <<<<< ..

 Read  scf_algorithm

.. >>>>> [ WALL TIME:        4.740000 s ] [ CPU  TIME:       14.310087 s ] <<<<< ..

 Read  thresh_scf

.. >>>>> [ WALL TIME:        4.740000 s ] [ CPU  TIME:       14.310105 s ] <<<<< ..

 Read  threshold_diis

.. >>>>> [ WALL TIME:        4.740000 s ] [ CPU  TIME:       14.310115 s ] <<<<< ..

==== ================ ================ ================
  N          Energy      Energy diff       DIIS error  
==== ================ ================ ================
   1    -4.7759747636    -0.3373702170     0.0968979152   1
   2    -4.8131602924    -0.0371855288     0.0470263691   2
   3    -4.8220462167    -0.0088859243     0.0186311313   3
   4    -4.8230049749    -0.0009587582     0.0063350610   4
   5    -4.8230789736    -0.0000739987     0.0019730614   5
   6    -4.8230852692    -0.0000062956     0.0005820670   6
   7    -4.8230857325    -0.0000004633     0.0001408781   7
   8    -4.8230857748    -0.0000000423     0.0000381130   8
   9    -4.8230857790    -0.0000000043     0.0000088454   9
  10    -4.8230857794    -0.0000000003     0.0000018614  10
  11    -4.8230857794    -0.0000000000     0.0000004601  11
==== ================ ================ ================


.. >>>>> [ WALL TIME:        5.127000 s ] [ CPU  TIME:       15.240237 s ] <<<<< ..

MOs are now **Canonical**

Eigenvalues
-----------

======== ================
       1    -0.7476564502
       2    -0.4881994400
       3    -0.2146751508
       4    -0.1043693206
       5     0.0811705922
       6     0.1115728560
       7     0.1861742499
       8     0.2196371409
       9     0.2453437952
      10     0.2680838325
      11     0.2773743240
      12     0.2981345820
      13     0.3526900249
      14     0.3960608027
      15     0.4106608124
      16     0.4725113490
      17     0.5262620163
      18     0.5309302052
      19     0.5662258612
      20     0.5668024949
      21     0.6347183420
      22     0.7236893954
      23     0.7442747895
      24     0.8069189232
      25     0.8198138224
      26     0.8284596032
      27     0.9803142320
      28     0.9998814034
      29     1.0048648120
      30     1.0842540418
      31     1.1662505500
      32     1.3465766606
      33     1.5677449816
      34     1.9431153241
      35     2.0276251947
      36     2.0707525038
      37     2.1264004508
      38     2.2856578704
      39     2.3186800758
      40     7.8722167231
======== ================


.. >>>>> [ WALL TIME:        5.127000 s ] [ CPU  TIME:       15.240764 s ] <<<<< ..

* Hartree-Fock energy                               -4.823085779390453    

.. >>>>> [ WALL TIME:        5.127000 s ] [ CPU  TIME:       15.240819 s ] <<<<< ..

Wall time : 6.16148s

